<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../library/css/bootstrap.css">
    <title>Formulário</title>
</head>

<body>
    <h1 class="text-center">Me dia qual é o seu animalzinho preferido</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">
                <form id="form">
                    <div class="form-group mt-5">
                        <label for="NOME">Nome:</label>
                        <input name="NOME" type="text" class="form-control" id="NOME">
                    </div>
                    <div class="form-group mt-5">
                        <label for="DATA_NASC">Ano de Nascimento:</label>
                        <input name="DATA_NASC" type="date" class="form-control" id="DATA_NASC">
                    </div>
                    <div class="form-group mt-5">
                        <label for="BEBIDA">Bebida Favorita:</label>
                        <input name="BEBIDA" type="text" class="form-control" id="BEBIDA">
                    </div>
                    <div class="form-group row mt-3 justify-content-center">
                        <div class="col-12 col-sm-8 col-md-6">
                            <button class="btn btn-primary btn-block btn-send">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center mt-5" id="retorno">
            
        </div>
    </div>

</body>

<script src="../../library/js/jquery-3.6.0.js"></script>
<script src="../../library/js/bootstrap.js"></script>
<script src="../controller/function2.js"></script>

</html>